---

---

<footer class="w-full bg-gray-900 font-roboto flex flex-col items-center py-4">
    <ul class="w-full flex flex-col font-light items-center text-yellow-500 text-sm">
        <li class="">
            <a href="#home" class="">Inicio</a>
        </li>
        <li class="">
            <a href="#about-us" class="">Nosotros</a>
        </li>
        <li class="">
            <a href="#services" class="">Servicios</a>
        </li>
        <li class="">
            <a href="#contact" class="">Contacto</a>
        </li>
    </ul>
    <p class="font-medium text-white">© 2024, Juan David Carreño</p>
    <p class="text-sm font-light text-center text-white">Todos los derechos reservados</p>
    <p></p>
</footer>
